[Unit]
Description=Asus GPU Manager Service
StartLimitInterval=200
StartLimitBurst=2
After=basic.target
Before=display-manager.service

[Service]
Environment=IS_ASUS_GPU_SERVICE=1
WorkingDirectory=/var/lib/asus-gpu-man
ExecStart=/opt/asus-gpu-man/bin/asus-gpu-service
Restart=on-failure
Restart=always
RestartSec=3
Type=dbus
BusName=org.skynet.asus
SELinuxContext=system_u:system_r:unconfined_t:s0

[Install]
WantedBy=basic.target
